body {
    font-size: 16px;
    font-style: italic;
}    

h1 {
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
    text-align: center;
}

p {
    line-height: 2;
    font-weight: 600;
    font-size: 3em;
}

ul {
    line-height: 2;
    text-decoration: underline;
}

.same-color {
    background-color: lightblue;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#brown {
    background-color: brown;
}